.footer {
    background-color: var(--bg-color2);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }
  .text {
    color:var(--olilogo);
    margin: 0px;
    padding:0px;
  }
  .icons {
    color:var(--bg-color);
    font-size:2em;
  }
  .icons:hover {
    color:var(--font-color);
  }