<!-- <p>article works!</p> -->
<article role="main">
    <section class="container">
        <div class="left"></div>
            <div class="right">
                <div class="content">
                    <h1>MasoterapiaOli</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id illum nobis eaque obcaecati accusamus illo laudantium repudiandae error blanditiis aliquam ratione aliquid ab unde est modi, vitae fugiat, debitis neque.</p>
                    <a href="#" class="btn" target="_blank" rel="nofollow noopener">Click aquí</a>
                </div>
            </div>  
    </section>
</article>