<article role="main">
    <section class="container">
        <div class="left"></div>
            <div class="right">
                <div class="content">
                    <h1>MasoterapiaOli</h1>
                    <p>El objetivo de Masoterapia Oli es ayudarte a liberar el estrés acumulado, aliviar las tensiones musculares y promover tu bienestar integral. Ya sea que estés buscando un masaje descontracturante para liberar nudos y revitalizar tu cuerpo, o un masaje de relajación profunda para calmar la mente y encontrar equilibrio, el propósito aquí para cuidarte.</p>
                    <a routerLink="/terapias" class="btn">Terapias aquí</a>
                </div>
            </div>  
    </section>
</article>