
<article role="main">
    <section class="container">
        <div class="container-content">
            <h1>¿Que terapia deberia elegir?</h1>
            <img src="/assets/images/article2.jpg" alt="dolor cronico terapia" class="container-content-img">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet exercitationem consequatur voluptatem sunt fugiat, veniam rem ullam itaque odit consectetur, nisi a ab adipisci commodi dicta cumque consequuntur aliquid dolores.</p>
            <h2>Beneficios de la masoterapia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sapiente optio ad est dicta pariatur facilis iure blanditiis, esse explicabo, porro sequi? Consectetur animi autem itaque. Eveniet dignissimos sequi perferendis.</p>
            <h3>Ayudar a reducir el estrés</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda veniam dicta nihil aut neque perferendis optio, expedita magnam animi eos doloribus nobis sint reiciendis non, aliquid rem earum dolorum eligendi?</p>
            <h3>Disminuir el dolor y la tensión muscular</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, deserunt ut. Sequi debitis, ratione veniam architecto provident nobis eveniet mollitia vel odit, quas tenetur expedita autem, ipsam maiores veritatis ab.</p>
            <h3>Mejorar la función inmunológica y aumentar la relajación</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat veritatis maiores modi et beatae ipsam necessitatibus minus? Fuga officiis blanditiis vero ad asperiores. Voluptatem, dignissimos asperiores aspernatur delectus beatae veritatis.</p>
            <img src="/assets/images/article2-2.jpg"alt="masoterapia" class="container-content-img">
        </div>
    </section>
</article>