.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    background-color: var(--bg-color);
    &-content{
        text-align: center; 
        font-weight: lighter;
        color: var(--font-color);
        &-img{
            border-radius: 5px;
            height: auto;
            width: 37.5rem;
        }
        &_svg{
            color:var(--olilogo);
        }
    }
}